
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 10px 0px;
} */
#mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;

}
#imagesId{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#imagesId img{
    width: 150px;
    height:150px;
    border: 2px solid rgba(94, 91, 91, 0.644);
    margin-left: 3px;
    border-radius: 4px;
    
}



#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainWord{
    font-size: 2.2rem;
    font-weight: bolder;
     font-family: 'Bebas Neue' ; 
     font-family: 'Edu NSW ACT Foundation'; 
}
#shower{
    font-size: 1rem;
    font-weight: bolder;
   font-family: sans-serif;
    margin-bottom: 13px;
}

#scoreRight {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Edu NSW ACT Foundation', cursive;   

}

#scoreWrong {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Edu NSW ACT Foundation', cursive;   
    margin-top: -15px;

}
/* .showText{
    display: flex;

} */

.showText a{
    text-decoration: none;
    text-transform: none;

}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

.rightAnswer{
    color: green;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Edu NSW ACT Foundation', cursive;   
}

.worngAnswer{
    color: red;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Edu NSW ACT Foundation', cursive;   

}

#wordNumber{
    font-size: 1.2rem;
    margin-bottom: 12px;
    font-weight: bolder;
}




#fireWork{
    /* width: 100%; */
    position: absolute;
    min-width: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
}

#meaningContent{
    margin-top: 1500px;
    text-transform: capitalize;
}

#scroolup{
    /* background-color: rgba(4, 4, 4, 0.834); */
    position: fixed;
    top: 80%;
    right: 0%;
}
#scroolup i{
    font-size: 2.5rem;
    padding: .35rem .45rem;
    /* color: white; */
}


#fireWork img{
    width: 100%;
    margin: 0 auto;
    min-width: 300px;
    height: auto;
}

.adjust{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    margin: 10px 0;
}




@media only screen and (max-width: 700px) {
    .single__image{
        border: 2px solid rgba(109, 107, 107, 0.767);
        margin-left: 3px;
        border-radius: 5px;
        
    }

    
#fireWork{
    /* width: 100%; */
    position: absolute;
    min-width: 300px;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
}


  }

  #imagetotest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #imagetotest img{
    width:120px;
    height: 120px;
  }

  body{
    margin: 0 auto;
  }

  #header{
    margin-left: 100px;
    text-transform: capitalize;
  }



 .imagesElement{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    margin: 20px 0;
 }

 #inputContainer{
    position: absolute;
    top: 1000px;
 }